body {
    background-color: red; anujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanujanuj
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
body {
    background-color: red;
  }
  h1 {
    color: Green;
  }
  p {
    color: pink;
  }
anuj
